@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato/Lato-Regular.ttf) format('truetype');
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  background-color: #000;
  margin: 0;
  font-family: 'Lato';
  letter-spacing: 1%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-btn{
  @apply  w-10 h-10 bg-gray-400 rounded-full text-white absolute transition-all shadow-md flex items-center justify-center;
}


.show-left{
  @apply -left-10 -top-10;
}

.show-right{
  @apply -right-10 -top-10;
}

.node-btn{
  @apply py-4 shadow-md text-center text-white font-bold;
}

.data-node__back::after{
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.data-node__visible,
.form-node__visible,
.setting-node__visible{
  display: block;
}
.data-node__hidden-anim,
.form-node__hidden-anim,
.setting-node__hidden-anim{
  display: block;
}
.data-node__hidden,
.form-node__hidden,
.setting-node__hidden{
  display: none;
}



