@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato/Lato-Regular.ttf) format('truetype');
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  background-color: #000;
  margin: 0;
  font-family: 'Lato';
  letter-spacing: 1%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-btn{
  @apply  w-10 h-10 bg-gray-400 rounded-full text-white absolute transition-all shadow-md;
}


.show-left{
  @apply -left-10 -top-10;
}

.show-right{
  @apply -right-10 -top-10;
}